extends layout
 
block content
  h1= title
  .container-fluid
    .row
      -
      for ford in fords
        .col-sm-2
          h3= `name: ${ford.name}`
          p= `price: ${ford.price}`
          p= `year: ${ford.year}`