extends layout
 
block content
  h1= title
  .container-fluid
    .row
      -
      for ford in ford
        .col-sm-2
          h3= `name: ${ford.make}`
          p= `price: ${ford.model}`
          p= `year: ${ford.year}`